.information{
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 0px 0px 40px 0px
}
.information h3{
    margin: 20px 20px 40px 20px
}
.information input{
    margin:15px 0px 15px 20px;
    box-shadow: 0px 1px 1px#eee;
    width: 500px;
    outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 3px;
    padding: 13px 10px;
    font-weight: 700;
    font-family: "Microsoft soft";

}

.information button{
  margin: 20px 0px 20px 0px;
  font-size: 15px;
  background-color: transparent;
  color:black;
  border-style: none;
  outline:none;
  cursor:pointer
}
.check{
    color: red;
}